/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;900&display=swap'); */

@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body {
    margin: 0;
    /* font-family: 'Nunito Sans', sans-serif; */
    font-family: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
}

p {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 200;
}

/* section {
    box-shadow: 10px 10px 5px #cecccc;
} */

header {
    position: absolute;
    left: 0;
    right: 0;
    border-bottom: 1px solid #ffffff2f;
    padding: 0 10em;
    z-index: 10;
}

header .brand-name a {
    /* background-color: red; */
    text-decoration: none;
    font-size: 50px;
    font-weight: 900;
    color: #ffffff;
    text-transform: uppercase;
    position: relative;
    letter-spacing: .1em;
}

/* header .navbar {
    background-color: purple;
} */

header .row {
    align-items: center;
    justify-content: space-between;
}

header .navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;

}

header .navbar ul li {
    /* background-color: green; */
    display: inline-block;
    margin-left: 5em;
}

header .navbar ul li a {
    font-size: 18px;
    text-decoration: none;
    line-height: 5em;
    color: #ffffff;
    font-weight: 600;
    display: block;
    position: relative;
    text-transform: uppercase;
}

header .navbar ul li a::before {
    content: '';
    height: .2em;
    background-color: #ffffff;
    width: 0;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 100%;
    transition: all .5s ease;
}

header .navbar ul li a:hover::before {
    width: 100%;
    left: 0;
}

header .navbar ul li a.active::before {
    width: 100%;
    left: 0;
}

.container {
    max-width: 1140px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

#home {
    min-height: 100vh;
    background-image: url(../assets/paul-fiedler-iCTaznIAqn8-unsplash.jpg);
    background-size: cover;
    background-position: center;
}

#home .full-screen {
    /* background-color: blue; */
    min-height: 100vh;
}

#home .home-content {
    /* background-color: red; */
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#home .home-content .block {
    /* background-color: purple; */
    flex: 0 0 75%;
    max-width: 75%;
    border-left: .5em solid #ffffff;
    padding-left: .5em;
    margin-top: 25em;
}

#home .home-content .block h6 {
    /* background-color: purple; */
    color: #ffffff;
    font-size: 20px;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

#home .home-content .block h1 {
    /* background-color: royalblue; */
    color: #ffffff;
    font-size: 40px;
    font-weight: 900;
    margin: 0;
    padding: 0;
    /* line-height: 1.2em; */
}

#home .home-content .block h3 {
    /* background-color: sienna; */
    color: #ffffff;
    font-size: 30px;
    font-weight: 300;
    margin: 0;
    padding: 0;
    /* line-height: 1.2em; */
}

#home .home-content .block .cv-btn {
    padding-top: .2em;
}
#home .home-content .block .cv-btn a {
    border-radius: .4em;
    color: #ffffff;
    border: 0.1em solid #ffffff;
    padding: 0.25em 1em;
    text-decoration: none;
    margin-top: 1em;
    display: inline-block;
    font-size: 15px;
    text-transform: uppercase;
    background-color: transparent;
    transition: all .5s ease;

}

#home .home-content .block .cv-btn a:hover {
    color: #000000;
    /* background-color: #ffffff; */
    background: linear-gradient(to top, #3399ff 0%, #9966ff 100%);
    border: 0.1em solid #ffffff;
}

/* About */
.about {
    /* background-color: blue; */
    padding: 6.25em 1em;
    min-height: 100vh;
}

.about .section-title {
    text-align: center;
}

.section-title {
    /* background-color: red; */
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 1em;
}

.section-title h1 {
    /* background-color: grey; */
    display: inline-block;
    font-size: 2em;
    text-transform: uppercase;
    color: #000000;
    margin: 0 0 .2em;
    position: relative;
    padding-bottom: .3em;
}

.section-title h1::before {
    content: '';
    left: 10%;
    height: .2em;
    right: 10%;
    background: linear-gradient(to top, #3399ff 0%, #9966ff 100%);
    bottom: 0;
    position: absolute;

}

.text-uppercase {
    text-transform: uppercase !important;
}

.about .section-title p.small {
    /* background-color: green; */
    display: block;
    letter-spacing: .1em;
    color: #838383;
}

.about .about-content {
    /* background-color: blue; */
    margin-top: 1em;
}

.about .about-content .img {
    /* background-color: blueviolet; */
    flex: 0 0 20%;
    max-width: 20%;
}



.about .about-content .img img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 50%;
    /* -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg); */
}

.about .about-content .text {
    /* background-color: green; */
    flex: 0 0 75%;
    max-width: 75%;
    margin-left: 2em;
}

.about .about-content .text h4 {
    font-size: 30px;
    margin: 0 0 .5em;
    color: #000000;
}

.about .about-content .text h6 {
    font-size: 20px;
    margin: 0 0 .5em;
    color: #000000;
}

.about .about-content .text h6 span {
    margin: 0 0 .5em;
    color: gold;
}

.about .about-content .text p {
    font-size: 18px;
    /* font-weight: 400; */
    line-height: 1.3em;
    color: #838383;
}

.about .about-content .text .info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about .about-content .text .info .list {
    /* background-color: hotpink; */
    flex: 0 0 calc(50% - 15px);
    max-width: calc(50% - 15px);
    margin-top: 1em;
    display: flex;
    flex-wrap: wrap;
    border-bottom: .01em solid #838383;
    padding-bottom: .1em;
}

.about .about-content .text .info .list label {
    padding-right: 1em;
    color: #000000;
    font-weight: 600;
    font-size: 15px;
}

.about .about-content .text .info .list p {
    padding-right: 1em;
    color: #838383;
    font-weight: 300;
    font-size: 15px;
}

.about .about-content .text .social {
    /* background-color: blue; */
    padding-top: 1em;
}

.about .about-content .text .social a {
    height: 1.5em;
    width: 1.5em;
    background-color: #000000;
    border-radius: .2em;
    display: inline-block;
    border: .1em solid #000000;
    line-height: 1.1em;
    text-align: center;
    margin: 0 .1em;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

.about .about-content .text .social a:hover {
    background-color: transparent;
    /* border: .1em solid transparent;
    transition: all .5s ease; */

}

.about .about-content .text .social a .fa {
    color: #ffffff;
    font-size: 12px;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    /* padding: .2em 0 .2em .1em; */
}

.about .about-content .text .social a:hover .fa {
    color: #000000;
}

/* Skills */

.skills {
    /* background-color: #F8F8FF; */
    padding: 10em 1em;
    /* min-height: 100vh; */
}

.skills .skills-content {
    /* background-color: red; */
    flex: 0 0 50%;
    max-width: 50%;
    padding-right: 2.5em;
}

.align-items-center {
    align-items: center;
}

.skills .skills-img {
    /* background-color: blue; */
    flex: 0 0 50%;
    max-width: 50%;
}

.skills .skills-img img {
    width: 100%;
    /* height: auto; */
    display: block;
    /* transform: scale(50%); */
}

.skills .skills-content .section-title p {
    font-size: 18px;
    /* font-weight: 400; */
    line-height: 1.3em;
    color: #838383;
    margin: .9em 0 .9em;
}

.skills .skills-content .skill-box {
    /* background-color: lightgray; */
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 2em;
}

.skills .skills-content .skill-box h6 {
    /* background-color: blue; */
    font-size: 1em;
    font-weight: 600;
    color: #000000;
    margin: 0 0 .5em;
}

.skills .skills-content .skill-box .skill-bar {
    height: 1em;
    background-color: #eeeeee;
    position: relative;

}

.skills .skills-content .skill-box .skill-bar .skill-bar-in {
    background: linear-gradient(to top, #3399ff 0%, #9966ff 100%);
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    transition: all 2s ease;
    cursor: pointer;
}

.skills .skills-content .skill-box .skill-bar .skill-bar-in span {
    color: #ffffff;
    font-size: .9em;
    font-weight: 400;
    line-height: 1.4em;
    position: absolute;
    right: 0.2em;
    top: -0.1em;
    transition: all 2s ease;
}

.skills .skills-content .skill-box .skill-bar .skill-bar-in:hover span {
    color: #000000;
    font-size: 1em;
    font-weight: 400;
    position: absolute;
    right: 0;
    top: -1.5em;
    transition: all 2s ease;
}

/* Portfolio */

.text-center {
    /* background-color: blue; */
    display: flex;
    justify-content: center;
}

.portfolio {
    /* background-color: #F8F8FF; */
    padding: 10em 0;
    /* min-height: 100vh; */    
}

/* .portfolio .section-title h1::before {
    content: '';
    background-color: gold;
    left: 20%;
    right: 20%;
} */

.portfolio .filter-buttons {
    /* background-color: blue; */
    flex: 0 0 100%;
    max-width: 100%;
}

.portfolio .filter-buttons ul {
    /* background-color: blueviolet; */
    list-style: none;
    text-align: center;
    padding: 1em;
}

.portfolio .filter-buttons ul li {
    /* background-color: blueviolet; */
    display: inline-block;
    font-weight: 700;
    font-size: 12px;
    margin: 0em 1em;
    color: #000000;
    text-transform: uppercase;
    font-family: 'Nunito Sans', sans-serif;
    cursor: pointer;
    padding-bottom: 0;
}

.portfolio .filter-buttons ul li.active {
    color: gold;
    border-bottom: .2em solid gold;
    margin-bottom: 3em;
}

.portfolio .portfolio-gallery {
    /* background-color: cornflowerblue; */
    display: flex;
    flex: 0 0 100%;
    max-width: 100%;
    /* flex-wrap: wrap; */
    flex-flow: row wrap;
    /* justify-content: flex-start; */
}

.portfolio .portfolio-gallery .item {
    /* border: .5em solid blue; */
    /* background-color: #d5d5d5; */
    flex: 0 0 33.33%;
    max-width: 33.33%;
    padding: .5em;
    /* margin-bottom: .6em;
    margin-left: .6em; */
    position: relative;
}

.portfolio .portfolio-gallery .item .inner {
    position: relative;
}

.portfolio .portfolio-gallery .item img {
    /* border: 1px solid black; */
    width: 100%;
    display: block;
    /* height: auto; */
}

.portfolio .portfolio-gallery .item .overlay {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.6);
    z-index: 10;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all .5s ease;
}

.portfolio .portfolio-gallery .item:hover .overlay {
    opacity: 1;
}

.portfolio .portfolio-gallery .item .overlay .fa {
    height: 3em;
    width: 3em;
    background: linear-gradient(to top, #3399ff 0%, #9966ff 100%);
    color: #ffffff;
    display: inline-block;
    text-align: center;
    line-height: 3em;
    border-radius: 50%;
    cursor: pointer;

}

.portfolio .portfolio-gallery .item:hover .overlay .fa {
    animation: galleryIcon .8s ease;
}

@keyframes galleryIcon {
    0% {
        transform: translateY(-1em);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.portfolio .portfolio-gallery .item .overlay h4 {
    /* background-color: gold; */
    color: #ffffff;
    font-size: 25px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    margin-top: 1em;

}

.portfolio .portfolio-gallery .item:hover .overlay h4 {
    animation: galleryText .8s ease;
}

@keyframes galleryText {
    0% {
        transform: translateY(1em);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/* lightbox */

.lightbox {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    background-color: rgba(0,0,0,0.5);
    /* display: none; */
    justify-content: center;
    align-items: center;
}

.lightbox.show {
    display: flex;
}

.lightbox.hide {
    display: none;
}

.lightbox .close-lightbox {
    background: linear-gradient(to top, #3399ff 0%, #9966ff 100%);
    color: #ffffff;
    width: 3.5em;
    height: 3.5em;
    text-align: center;
    line-height: 3.5em;
    position: absolute;
    top: 1em;
    right: 1em;
    border-radius: 50%;
    cursor: pointer;
    z-index: 101;
}

.lightbox img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

/* Banner */

.message-text {
    padding: 3em 1em;
    background-color: #000000;
    /* background: linear-gradient(to top, #3399ff 0%, #9966ff 100%); */
    box-shadow: 5px 15px 10px rgba(0,0,0,0.1);
    position: relative;
    /* z-index: auto; */
}

.message-text .text {
    /* background-color: red; */
    flex: 0 0 66.66%;
    max-width: 66.66%;
}

.message-text .text h2 {
    font-size: 25px;
    font-weight: 600;
    color: #ffffff;
    margin: 0;
    padding: 0;
    line-height: 1.2em;
}

.message-text .button {
    /* background-color: saddlebrown; */
    flex: 0 0 33.33%;
    max-width: 33.33%;
    text-align: center;
}

.message-text .button a {
    border-radius: .5em;
    color: #ffffff;
    border: 0.1em solid #ffffff;
    padding: 1em 1em;
    text-decoration: none;
    margin-top: 0;
    display: inline-block;
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
    /* background: linear-gradient(to top, #3399ff 0%, #9966ff 100%); */
    /* box-shadow: 5px 5px 30px #000000; */
    transition: all .5s ease;
}

.message-text .button a:hover {
    color: #000000;
    /* background: transparent; */
    background: linear-gradient(to top, #3399ff 0%, #9966ff 100%);
    border: 0.1em solid #ffffff;
    box-shadow: none;
}
/* Recommendations */

.recommendations {
    background: #ffffff;
    padding: 9em 0;
}

.recommendations .recommendations-content {
    position: relative;
    overflow: hidden;
    flex: 0 0 100%;
    max-width: 100%;
    /* background-color: red; */
}

.recommendations .recommendations-content .rec-slider .slide {
    background-color: #ffffff;
    margin-bottom: 1em;
    padding: 2em 2em;
    border: .03em solid #eeeeee;
    border-radius: .5em;
    box-shadow: 10px 5px 10px rgba(0,0,0,0.1);
    display: flex;
    flex-wrap: nowrap;
    float: left;
    width: 100%;

}

.recommendations .recommendations-content .rec-slider .slide .img {
    flex: 0 0 15%;
    max-width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.recommendations .recommendations-content .rec-slider .slide .img i {
    transform: scale(6);

}

.recommendations .recommendations-content .rec-slider .slide h4 {
    margin: 1em 0 .5em;
}

.recommendations .recommendations-content .rec-slider .slide p{
    font-size: 18px;
    font-weight: 100;
    line-height: 1.2em;
    color: #838383;
    margin: 0;
}

.recommendations .recommendations-content .rec-slider {
    float: left;
    transition: margin 1s ease;
}

.recommendations .recommendations-content .slide-control {
    float: left;
    width: 100%;
    text-align: center;
}

.recommendations .recommendations-content .slide-control div {
    height: 1em;
    width: 1em;
    background-color: #ffffff;
    border-radius: 50%;
    border: .1em solid #000000;
    display: inline-block;
    margin: 0.5em 0.3em;
    cursor: pointer;
}

.recommendations .recommendations-content .slide-control div.active {
    background: linear-gradient(to top, #3399ff 0%, #9966ff 100%);
}










